
    ul,li
    {
      padding: 0;
      margin: 0;
    }
    .header
    {
      text-align: center;
      background: #00aced;
      color: white;
      padding-left: 39px;
      padding-right: 77px;
      border-radius: 6px;
    }
    .header h1
    {
      color: white;
    }
   
    
   .main-wrapper 
   {
      width: 89%;
      margin-left: auto;
      margin-right: auto;
    }
  
    .btnRefreshText
    {
       background-color: #4CAF50; /* Green */
       border: none;
       color: white;
       padding: 12px 19px;
       text-align: center;
       text-decoration: none; 
       display: inline-block;
       font-size: 16px;
       border-radius: 10px;
    }
    .refreshArea
    {
      text-align: right;
      float: right;
      padding-top: 14px;
      width: 18%;
      position: relative;
    }

    .companyHeader
    {
      float:left;
    }
    .refresh-img-div
    {
      float: left;
      position: absolute;
      left: -45px;
    }

    .main-wrapper .refreshArea .lastUpdateTime
    {
      color: red;
      font-size: 14px;
      font-family: arial;
      float:left;
    }

    .refreshImage
    {
      width:35px;
      height: 40px
    }

    .data-ul
    {
         list-style-type: none;
        /* width: 50%; */
        /* margin-left: auto; */
        /* margin-right: auto; */
        /* overflow: hidden; */
    }
    .data-ul li
    {
        /* text-align: center; */
        font-family: sans-serif;
        font-size: 16px;
        float: left;
        width: 100%;
        border-bottom: 1px solid green;
        /* padding: 4px 0 4px 0; */
        margin-bottom: 10px;
    }
    .news-div
    {
        overflow: hidden;
        clear: both;
        width: 85%;
        margin-right: auto;
        margin-left: 5px;
    }
    .news-ul
    {
        list-style-type: none;
        font-family: sans-serif;
    }
    .news-heading
    {
        font-family: sans-serif;
        width: 30%;
        margin-right: auto;
        text-align: center;
        margin-left: auto;
    }

    .description-div
    {
        font-size: 14px;
        width: 90%;
        clear:right;
        margin-top: 5px;
        margin-left:5px;
    }
    .news-ul li
    {
       
        border-bottom:1px solid rgba(0,0,0,0.30);
        padding-bottom: 10px;
        padding-top: 10px;
        overflow: hidden;
    }
    .news-ul li div
    {
        margin-bottom: 5px;
    }
    .author-div
    {
        font-weight: bolder;
        width: 95%;
        margin-right: auto;
        margin-left: 5px;
        margin-top: 5px;
    }
    .desc-news
    {
       
        margin-left: 15px;
    }
    .news-img img
    {
        width: 200px;
        margin-right: 5px;
    }
    .published-div
    {
        font-weight: bolder;
        font-size: 14px;
        float:right;
    }

      .news-img
    {
        float: left;
    }
    .selector-div
    {
        width: 80%;
        margin-right: auto;
        margin-left: auto;
        text-align: center;
        border-bottom:1px solid rgba(0,0,0,0.49);
        padding-bottom: 20px;
    }
    .options-el
    {
        font-family: Arial;
        font-size: 18px;
    }
    .news-heading h1
    {   
        vertical-align: text-top;
        font-size: 36px;
    }
    .news-heading h1 img
    {
        width: 200px;
    }
    .title-div
    {
      float:left;

    }
    .first-row-div
    {
      overflow: hidden;
    }